
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add chat</title>
</head>
<body>
 <h2>Write your first chat</h2> 
 <form method="POST" action="/chats" >
  <input  placeholder ="your Name" name="from" ><br><br>
  <textarea name="msg">Hello</textarea><br><br>
  <input placeholder="msg received" name="to"><br><br>
  <button>
    Send Chat
  </button>
 </form>
</body>
</html>